body, html {
	padding: 0;
	margin: 0 auto;
	
	height: 100%;
}
header {
	/*background-color: rgba(68, 150, 222, 0.91);*/
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
body {
	font-family: 'Montaga', serif;
	background-image: url(img/dq9-09-1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 20px;
	
}
#allDiv {
	min-width: 1100px;
	max-width: 1100px;
	padding: 0;
	margin: 0 auto;
}
#leftDiv {
	float: left;
	min-width: 530px;
	max-width: 530px;
}
#rightDiv {
	float: right;
	min-width: 530px;
	max-width: 530px;
}
.container {
	border-top: 2px double black;
	border-left: 2px double black;
	border-bottom: 2px double black;
	border-right: 2px double black;
	background-color: rgba(0, 0, 0, 0.6);
}
.imageContainer {
	border-top: 2px double black;
	border-left: 2px double black;
	border-bottom: 2px double black;
	border-right: 2px double black;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	
}
h2 {
	font-size: 30px;
	font-weight: 900;
	color: white;
	letter-spacing: 2px;
	text-align: center;
}
p {
	color: white;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	height: 2.5rem;
	background-color: rgba(68, 150, 222, 1.0);
	overflow: none;
}
.resize {
	width: 525px;
	height: auto;
}
